<!DOCTYPE HTML>
<html>

	<head>
		<title>Contact</title>
		<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery-1.11.0.min.js"></script>
		<!-- Custom Theme files -->
		<link rel="stylesheet" href="css/fakeloader.css">
		<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
		<!-- Custom Theme files -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script src="js/fakeloader.min.js"></script>
		<script type="application/x-javascript">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			} >
		</script>
		<meta name="keywords" content="Coffee Bar Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndriodCompatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"
		/>
		<!--Google Fonts-->
		<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>

		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".fakeloader").fakeLoader({
					timeToHide: 1200,
					bgColor: "#fff",
					imagePath: "images/load_logo.gif"
				});
				$(".scroll").click(function(event) {
					event.preventDefault();
					$('html,body').animate({
						scrollTop: $(this.hash).offset().top
					}, 1000);
				});
			});
		</script>
		<!-- //end-smoth-scrolling -->
	</head>

	<body>
		<!--header start here-->
		<div class="fakeloader"></div>
		<div class="header">
			<div class="container">
				<div class="header-main">
					<div class="logo">
						<!--<a href="index.html"><img src="images/logo.png" alt=""></a>-->
					</div>
					<div class="top-nav">
						<span class="menu"> <img src="images/icon.png" alt=""/></span>
						<img src="images/logo.gif" style="float:left"/>
						<ul class="nav nav-pills nav-justified res">
							<li><a class="active" href="index.html"><i class="glyphicon glyphicon-home"> </i>返回</a></li>
							<li><a class="icon" href="about.html"><i class="glyphicon glyphicon-star"> </i>关于喜农农</a></li>
							<li><a href="services.html"><i  class="glyphicon glyphicon-thumbs-up"> </i>诚意推荐</a></li>
							<li><a href="pages.html"><i class="glyphicon glyphicon-list-alt"> </i>商品列表</a></li>
							<li><a href="blog.html"><i class="glyphicon glyphicon-picture"> </i>精品活动</a></li>

						</ul>
						<!-- script-for-menu -->
						<script>
							$("span.menu").click(function() {
								$("ul.res").slideToggle(300, function() {
									// Animation complete.
								});
							});
						</script>
						<!-- /script-for-menu -->
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!--header end here-->
		<!--contact start here-->
		<div class="contact">
			<div class="container">
				<div class="contact-main">
					<div class="contact-top">
						<h3>联系我们</h3>
						<p>地址：虹桥路2268号&nbsp;&nbsp;&nbsp;&nbsp; 联系电话：021-62376458&nbsp;&nbsp;&nbsp;&nbsp; 电子邮件：service@happyn2.com</p>
						<p></p>
					</div>
					<img src="images/map.jpg" width="100%">
				</div>
			</div>
		</div>
		<!--contact end here-->

	</body>

</html>